.app-nav {
    display: flex;
    position: fixed;
    width: 48px;
    height: 48px;

    .caller {
        width: 48px;
        height: 48px;
        .button {
            text-decoration: underline;
            color: deepskyblue;
        }
    }

    .app-menu {
        display: flex;
        .item {
            text-decoration: underline;
            color: brown;
        }
    }
}
